.App {
  text-align: center;


}

.App input[type="text"]
{
  font-size:24px;
}

.App .search input[type="text"]
{
  font-size:18px;
}

.container-result{
  width: 50%;
  margin: 0 auto;
}
.container-result ul{
  display: inline-block;
  text-align: left;
}

.container-result ul li{
  margin: .5rem 0;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
